.aboutUs-title-wrapper {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.aboutUs-title{
    text-align: center;
    font-size: 35px;
    padding: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Pinyon Script';
    background-color: whitesmoke;
    display: inline-block;
}

.about-us-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-items: center;
    gap: 2rem;
    padding: 0 125px;
    flex-wrap: wrap;
}

.about-us-content {
    background-color: whitesmoke;
    font-family: 'Philosopher';
    width: 45%;
    font-size: 24px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.store-image {
    width: 40%;
}